<div class="clearfix">
  <h1 class="left">Mandrill Merge</h1>
  <h2 class="tagline right">Making Mailouts <%= madjective %>!</h2>
</div>
<ul class="accordion" data-accordion>
  <li class="accordion-navigation active">
    <%= partial(:connect_mandrill_header, :locals => @mandrill_details) %>
    <div id="connect_mandrill" class="content active">
      <%= partial(:connect_mandrill_body) %>
    </div>
  </li>
  <li class="accordion-navigation">
    <%= partial(:select_template_header) %>
    <div id="select_template" class="content">
      <%= partial(:select_template_body) %>
    </div>
  </li>
  <li class="accordion-navigation">
    <%= partial(:connect_db_header) %>
    <div id="connect_db" class="content">
      <%= partial(:connect_db_body) %>
    </div>
  </li>
  <li class="accordion-navigation">
    <%= partial(:select_data_header) %>
    <div id="select_data" class="content">
      <%= partial(:select_data_body) %>
    </div>
  </li>
  <li class="accordion-navigation">
    <%= partial(:sub_query_header) %>
    <div id="sub_query" class="content">
      <%= partial(:sub_query_body) %>
    </div>
  </li>
  <li class="accordion-navigation">
    <%= partial(:preview_header) %>
    <div id="preview" class="content">
      <%= partial(:preview_body) %>
    </div>
  </li>
  <li class="accordion-navigation">
    <%= partial(:send_test_header) %>
    <div id="send_test" class="content">
      <%= partial(:send_test_body) %>
    </div>
  </li>
  <li class="accordion-navigation">
    <%= partial(:go_header) %>
    <div id="go" class="content">
      <%= partial(:go_body) %>
    </div>
  </li>
</ul>
